.carouselSection {
  position: relative;
  margin-bottom: 70px;

  .contentWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .carouselTitle {
    font-size: 24px;
    color: white;
    font-weight: normal;
  }
}
